<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name, :class => "form-control"%>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field"> 
              <%= f.label :birth_date %><br>             
              <div class='input-group date' id='datetimepicker1'>
                  <%= f.text_field :birth_date, :class => "form-control"%>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
             <div class="field">
                <%= f.label :gender %><br />
                <%= f.label :gender, "Male", :value => "male"  %>
                <%= f.radio_button :gender, true %>
                <%= f.label :gender, "Female", :value => "female" %>
                <%= f.radio_button :gender, false%>
                <%= f.label :gender, "Others", :value => "female" %>
                <%= f.radio_button :gender, false %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label :language %><br>
                <%= f.text_field :language, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label "Father's Name" %><br>
                <%= f.text_field :father_name, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label "Phone Number" %><br>
                <%= f.number_field :father_phone, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label "Mother's Name" %><br>
                <%= f.text_field :mother_name, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
                <div class="field">
                  <%= f.label "Phone Number" %><br>
                  <%= f.number_field :mother_phone, :class => "form-control" %>
                </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label "Voter's Identification No." %><br>
                <%= f.text_field :voter_id, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <div class="field">
                <%= f.label :address %><br>
                <%= f.text_field :address, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
             <div class="field">
              <%= f.label "Distinctive Character" %><br>
              <%= f.text_area :dist_character, :class => "form-control" %>
            </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
            <div class="field">
              <%= f.label :disability_status %><br>
              <%= f.select :disability_status, [["Speech", "Speech"], ["Hearing", "Hearing"], ["Visually Impaired", "Visually Impaired"], ["Mentally Challenged", "Mentally Challenged"]] %>
            </div>
            </div>
          </div>    
          <div class="col-xs-12">
            <div class="form-group">
            <div class="field">
              <%= f.label :issue_date %><br>
                <div class='input-group date' id='datetimepicker1'>
                  <%= f.text_field :issue_date, :class => "form-control"%>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
             <div class="field">
              <%= f.label :issuer %><br>
              <%= f.text_field :issuer, :class => "form-control" %>
            </div>
            </div>
          </div> 
          <div class="col-xs-12">
          <div class="form-group">
            <div class="field">
              <%= f.label :photo %><br>
              <%= f.text_field :photo %>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="col-xs-12">
            <div class="form-group">
             <div class="actions">  
              <%= f.submit :class => "btn btn-primary", :value => "Submit Data"%>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
