<%= form_for(@child) do |f| %>
<% if @child.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

  <ul>
    <% @child.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="wrapper">
  <div class="row">
  <h1>Registration</h1>
    <div class="col-xs-7">
      <div class="row">
       
      <div class="col-xs-12">
        <div class="form-group">
          <div class="field">
            <%= f.label :name %><br>
          </div>
          <div class="input-group">
           <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <%= f.text_field :name, :class => "form-control"%>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <div class="field"> 
          <%= f.label :birth_date %><br>             
          <div class='input-group date' id='datetimepicker1'>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <%= f.text_field :birth_date, :class => "form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
       <div class="field">
        <%= f.label :gender %>
        <div class="row">
          <div class="col-xs-3">
            <%= f.radio_button :gender, true %>
            <%= f.label :gender, "Male", :value => "male"  %>
          </div>
          <div class="col-xs-3">
            <%= f.radio_button :gender, true %>
            <%= f.label :gender, "Female", :value => "female"  %>
          </div>
          <div class="col-xs-3">
            <%= f.radio_button :gender, true %>
            <%= f.label :gender, "Other", :value => "other"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <div class="field">
        <%= f.label :language %><br>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-globe"></span>
          </span>
          <%= f.text_field :language, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <div class="field">
        <%= f.label "Father's Name" %><br>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <%= f.text_field :father_name, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12" style="display:none">
    <div class="form-group">
      <div class="field">
        <%= f.label "Phone Number" %><br>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-earphone"></span>
        </span>
        <%= f.number_field :father_phone, :class => "form-control", :value => 123%>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <div class="field">
        <%= f.label "Mother's Name" %><br>
      </div>
      <div class="input-group">
       <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <%= f.text_field :mother_name, :class => "form-control" %>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="form-group">
    <div class="field">
      <%= f.label "Parent's Contact" %><br>
    </div>
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-earphone"></span>
    </span>
    <%= f.number_field :mother_phone, :class => "form-control" %>
  </div>
</div>
</div>
<div class="col-xs-12">
  <div class="form-group">
    <div class="field">
      <%= f.label "Voter's Identification No." %><br>
    </div>
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-asterisk"></span>
    </span>
    <%= f.text_field :voter_id, :class => "form-control" %>
  </div>
</div>
</div>
<div class="col-xs-12">
  <div class="form-group">
    <div class="field">
      <%= f.label :address %><br>
    </div>
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-home"></span>
    </span>
    <%= f.text_field :address, :id => "address", :class => "form-control" %>
  </div>
</div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div id="map"></div>
  </div>
</div>
<div class="col-xs-12">
  <div class="form-group">
   <div class="field">
    <%= f.label "Distinctive Character" %><br>
    <%= f.text_area :dist_character, :class => "form-control" %>
  </div>
</div>
</div>
<div class="col-xs-12">
  <div class="form-group">
    <div class="field">
      <%= f.label :disability_status %><br>
      <%= f.select(:disability_status, [["None", "None"], ["Speech", "Speech"], ["Hearing", "Hearing"], ["Visually Impaired", "Visually Impaired"], ["Mentally Challenged", "Mentally Challenged"]], {}, {:class => "form-control"})  %>
    </div>
  </div>
</div>    
<div class="col-xs-12">
  <div class="form-group">
    <div class="field"> 
      <%= f.label :issue_date %><br>             
      <div class='input-group date' id='datetimepicker1'>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :issue_date, :class => "form-control"%>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="form-group">
   <div class="field">
    <%= f.label :issuer %><br>
  </div>
  <div class="input-group">
   <span class="input-group-addon">
    <span class="glyphicon glyphicon-user"></span>
  </span>
  <%= f.text_field :issuer, :class => "form-control" %>
</div>
</div>
</div> 
<div class="col-xs-12">
    <div class="form-group">
     <div class="actions">  
      <%= f.submit :class => "btn btn-primary", :value => "Submit Form"%>
    </div>
  </div>
</div>


</div>
</div>
<div class="col-xs-5">
  <div class="row">
    <div class="container" id="photo_uploadar" style="display:block">
      <b>Capture a Photo</b> </br>
      <div id="my_camera"></div>
      </br>      
        <input type="button" value="Take Photo" id='take_snap' class='btn btn-info'>
    </div>
    <div class="container" id="photo_viewer" style="display:none">
      <b>Photo Taken!</b>
      <div id="my_photo">
        <div class="photo_wrapper"></div>
      </div>
      </br>
        <input type="button" value="Retake Photo" id='retake_snap' class='btn btn-info'>
    </div>
  </div>
</div>
</div>
</div>
<script>
    var map, geocoder, infowindow;
    var marker;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: 28.3949, lng: 84.1240}
      });
      geocoder = new google.maps.Geocoder;
      infowindow = new google.maps.InfoWindow;
       marker = new google.maps.Marker({
        map: map
      });
      map.addListener('click', function(e) {
        placeMarkerAndPanTo(e.latLng);
        geocodeLatLng(e.latLng);
      });
    }
    function geocodeLatLng(latlng) {
        var input = latlng.lat() +", " + latlng.lng();
        console.log(latlng);
        console.log(input);
        var latlngStr = input.split(',', 2);
        var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              document.getElementById('address').value = results[1].formatted_address;
              console.log(results);
              console.log(results[1].formatted_address);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }
    function placeMarkerAndPanTo(latLng) {
      marker.setPosition(latLng)
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMfUAZ-Ons--xfug9GmvCa7bNi5Caz_6E&callback=initMap"
    async defer></script>
<% end %>
